<div class="container">
    <div class="card">
        <div class="card-title text-center">
            <h4><b>Gitbub Search Engine</b></h4>
        </div>
        
        <div class="card-body text-center">
            <form (ngSubmit)= 'submitOk()'>
                <div class="form-group">
                    <input class="form-control mb-sm" type="text" name="search" [(ngModel)]='searchName' placeholder="Enter Github username here..." required>

                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
        
    </div>
    
</div>

